.avatar-b{
    display: flex;
    flex-wrap:wrap;
}
.avatar-b label{

    height: 110px;
    background-color: transparent;
    border: none;
    padding: 5px;
}
.avatar-b label.ant-radio-button-wrapper-checked {
    background-color: #006989 !important;
}