.imagen-fondo-inicio{
    background-image: url("../images/FondoPagInicio.jpg");
    background-size: cover;
}

.separa-boton{
    margin-right: 20px;
}

.ant-card-cover{
    height: 150px;
    margin-top: 15px;
}

.ant-card-bordered{
    border: none;
}

.site-card-border-less-wrapper {
    padding: 30px;
    background: #ececec;
}

