@import '~antd/dist/antd.css';
.tamanio-cuadro{
    height: auto;
    width: 60%;

}
.ant-card-cover{
    height: 150px;
    margin-top: 105px;
    border: none;
    background-color:transparent;

}

.site-card-border-less-wrapper {
    padding: 30px;
    background-image: url("../images/FondoPagLog.jpg");
    background-size: cover;
    height: 550px;
}