

.tamanio-cuadro{
    height: auto;
    width: 70%;
}
.tamanio-cuadro-interno{
    height: auto;
    width: 90%;
}

.fondo-registrar-asiento{
    background-image: url("../images/Fondo Pag Registrar Asiento.jpg");
    background-size: cover;
}



.padding-btn-registrar{
    padding-top: 20%;
}

